<!-- To put files in each other -->
<div class="main">
  <div class="game">
    <div class="parent jumbotron">
      <div id="cell1" class="item"></div>
      <div id="cell2" class="item"></div>
      <div id="cell3" class="item"></div>
      <div id="cell4" class="item"></div>
      <div id="cell5" class="item"></div>
      <div id="cell6" class="item"></div>
      <div id="cell7" class="item"></div>
      <div id="cell8" class="item"></div>
      <div id="cell9" class="item"></div>
      <div id="cell10" class="item"></div>
      <div id="cell11" class="item"></div>
      <div id="cell12" class="item"></div>
      <div id="cell13" class="item"></div>
      <div id="cell14" class="item"></div>
      <div id="cell15" class="item"></div>
      <div id="cell16" class="item"></div>
    </div>
    <div class="jumbotron">
    All images are taken from <a href="https://game-icons.net">game icons.net</a>.
    </div>
  </div>
  <div class="side">
    <div class="jumbotron">
      <table>
      <tr>
        <td><label>Board code</label></td>
        <td><input type="text" id="board-code" value="{{id}}" readonly/></td>
      </tr><tr>
        <td><label>First Move</label></td>
        <td><input type="text" id="move" readonly/></td>
      </tr>
      </table>
      <div id="results"><h3>Results</h3></div>
    </div>
  </div>
</div>
